<article class="f-article-item">
  <div class="f-article-item__image">
    <img [src]="image" [alt]="title" loading="lazy" />
  </div>

  <header class="f-article-item__header">
    <h3 class="f-article-item__header-title heading-h5">
      <a href="#">{{ title }}</a>
    </h3>
    @if (topics?.length) {
    <ul class="f-article-item__topics">
      @for (item of topics; track item) {
      <li class="f-article-item__topics-item">
        <a [href]="item.uri">
          {{ item.value }}
        </a>
      </li>
      }
    </ul>
    }
  </header>
</article>
