<section>
  <h2 class="heading-h3 color-brand">ButtonComponent</h2>

  <section class="mt-24">
    <h4 class="heading-h4">Import</h4>
    <div class="mt-16">
      <neo-code>
        <code> {{ "import { ButtonModule } from 'ngx-neo-ui';" }} </code>
      </neo-code>
    </div>
  </section>

  <section class="mt-24">
    <h4 class="heading-h4">Theme</h4>

    <article class="mt-24">
      <h4 class="heading-h5">Basic</h4>
      <div class="mt-16">
        <neo-ui-button> Submit </neo-ui-button>
      </div>
    </article>

    <article class="mt-24">
      <h4 class="heading-h5">Brand</h4>
      <div class="mt-16">
        <neo-ui-button [theme]="'brand'"> Brand Submit </neo-ui-button>
      </div>
    </article>

    <article class="mt-24">
      <h4 class="heading-h5">Secondary</h4>
      <div class="mt-16">
        <neo-ui-button [theme]="'secondary'"> Brand Submit </neo-ui-button>
      </div>
    </article>
  </section>
</section>
