<section>
  <h2 class="heading-h3 color-brand">Popover: Basic Use</h2>

  <section class="mt-24">
    <div class="mt-16">
      <neo-code>
        <code> {{ "import { PopoverDirective } from 'ngx-neo-ui';" }}<br> </code>
      </neo-code>
    </div>

    <h4 class="heading-h4 mt-48">Example 1:</h4>

    <div class="mt-32">
      <button
        type="button"
        class="my-button"
        [openNeoPopoverFromTemplate]="testTemplate"
        [openNeoPopoverTitle]="'My Base Popover'"
      >
        Click my button
      </button>
    </div>

    <ng-template #testTemplate>
      My test template for popover
    </ng-template>

    <div class="mt-32">
      <neo-code>
        <code> <span [innerHTML]="basePopoverCode1.str"></span> </code>
      </neo-code>
    </div>

  </section>
</section>
