@use '../../../../../../node_modules/ngx-neo-ui/assets/styles/theme-provider/theme_provider' as theme;

.code {
  display: block;
  padding: 16px;
  line-height: 1.5;
  background: var(--colorBrand);
  color: #fff;

  @include theme.mq(md) {
    padding: 16px 24px;
  }

  pre {
    margin: 0;
    padding: 0;
    white-space: normal;
  }
}

