@use 'lib/ui/assets/styles/theme-provider/theme_provider' as theme;
@use 'lib/ui/assets/styles/theme-provider/base-styles/typography/typography' as typography;

.code {
  display: block;
  padding: 16px;
  max-width: calc(100% - 32px); // 32px - .container gutters
  line-height: 1.5;
  background: var(--colorBrand);
  border-radius: var(--borderRadiusLarge);
  color: #fff;

  @include theme.mq(sm) {
    @include typography.text-base-small();
  }

  @include theme.mq(md) {
    padding: 16px 24px;
  }

  &__container {
  }

  pre {
    margin: 0;
    padding: 0;
    white-space: normal;
  }
}
