<h2 class="heading-h3 color-brand">RadioComponent</h2>

<section class="mt-24">
  <h4 class="heading-h4">Import</h4>
  <div class="mt-16">
    <neo-code>
      <code> {{ "import { RadioModule } from 'ngx-neo-ui';" }} </code>
    </neo-code>
  </div>
</section>

<form
  [formGroup]="form"
  (submit)="submit()"
  class="mt-48"
  style="max-height: 420px"
>
  <h4 class="heading-h5">Example</h4>
  <div class="mt-16">
    <div>
      <neo-ui-radio
        [formControlName]="'radio'"
        [value]="'Value 1'"
        [label]="'Value 1'"
        [name]="'RadioGroup'"
      ></neo-ui-radio>
    </div>
    <div class="mt-16">
      <neo-ui-radio
        [formControlName]="'radio'"
        [value]="'Value 2'"
        [label]="'Value 2'"
        [name]="'RadioGroup'"
      ></neo-ui-radio>
    </div>

    <div class="mt-24">Value: {{ form.get('radio')?.value }}</div>
  </div>
</form>
