<h2 class="heading-h3 color-brand">CheckboxComponent</h2>

<section class="mt-24">
  <h4 class="heading-h4">Import</h4>
  <div class="mt-16">
    <neo-code>
      <code> {{ "import { RadioModule } from 'ngx-neo-ui';" }} </code>
    </neo-code>
  </div>
</section>

<form [formGroup]="form" class="mt-48" style="max-height: 420px">
  <h4 class="heading-h5">Example</h4>
  <div class="mt-16">
    <div>
      <neo-ui-checkbox
        [formControlName]="'checkbox1'"
        [value]="'Value 1'"
        [label]="'Value 1'"
      ></neo-ui-checkbox>
    </div>
    <div class="mt-16">
      <neo-ui-checkbox
        [formControlName]="'checkbox2'"
        [value]="'Value 2'"
        [label]="'Value 2'"
      ></neo-ui-checkbox>
    </div>

<!--    <div class="mt-24">Value: {{ form.get('checkbox')?.value }}</div>-->
  </div>
</form>

