<div class="view-container">
  <div class="container">
    <div class="lib-view">
      <h1 class="heading-h1 mb-32">Styles</h1>
      <div class="lib-view__grid">
        <div class="lib-view__navigate-col">
          <div class="lib-view__navigate-col-sticky-md">
            <h3 class="heading-h3 mb-16">Forms</h3>
            <neo-ui-navigate-list
              [navigate]="formsMenu"
              [type]="'vertical'"
            ></neo-ui-navigate-list>
          </div>
        </div>
        <div class="lib-view__content-col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
